{% extends 'FrequenceWebContactBundle::layout.html.twig' %}

{% block body %}
<form method="POST" action="{{ path('fw_contact_submit') }}">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{% trans from 'FrequenceWebContactBundle' %}contact.submit{% endtrans %}" />
    </div>
</form>
{% endblock %}
